= form_with model: @product do |form|
  %p= form.label :name
  = form.text_field :name
  %p= form.label :description
  = form.text_area :description
  %p= form.label :price
  = form.text_field :price
  %p= form.submit "Update product "