= form_with model: @product do |form|
  %p= form.label :Name
  = form.text_field :name
  %p= form.label :Description
  = form.text_area :description
  %p= form.label :Price
  = form.text_field :price
  %p= form.submit "Update product "