- @products.each do |product| 
  %p= product.name
  %p= product.description
<<<<<<< HEAD
  %p= product.price
  = link_to "Add to order", cartify.order_items_path(order_item: {quantity: 1, product_id: product.id}), { method: :post, remote: true }

=======
  %p= product.price
>>>>>>> 62dc54648e6011c0d6161cec86822c9925aa0487
