= form_with model: Product.new do |form|
  %p= form.label :name
  = form.text_field :name
  %p= form.label :description
  = form.text_area :description
  %p= form.label :price
  = form.text_field :price
  %p= form.label :category
  .Category= form.collection_select :category_id, Category.all, :id, :category
  %p= form.submit "Create product"